

   div { 
    max-width: 100%;
    max-height: 100%;

    background-color: aquamarine;
   /* ::backdrop*/

    margin: 40px; 
    border: 30px blue solid;
    flood-color: aqua;
    padding: 55px;
    border-radius: 50%;
   }
  img {
    
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
  }
  
   
  
/*layered color*/
body {
    width: 600px;
    height: 200px;
    float: left;
    
    margin: 50px;
    padding: 50px;
    background: rgb(38, 0, 128);
}
h1 {
    font-size: 50px;
    font-family: cursive;
    color: aqua;
    
}
h2{
    font-size: 30px;
    background-color: blueviolet;
    color: blue;
    
}
p {
    font-family: 'Courier New', Courier, monospace;
    color: blue; 
    font-size: 70%;
    padding-bottom: 50px;  
}
